body{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    line-height: 27.2px;
}

.nav-bar{
   display: flex;
   justify-content: space-between;
width: 100%;
  max-width:1165px;
    margin-left: 30px; 
   margin-top: 20px;
}

.down-20{
    margin-top: 13px;
}

ul, li{
    display: inline-block;
}

.nav-item:not(:last-child) {
    padding-right: 45px;
}


li a{
  
    font-size: 16.5px;
    margin-left: 0;
    text-decoration: none;
    color: #0c1825;
    font-weight: 600;
}



.flex-50{
    flex: 50%;
}

.create-btn{
    background-color: #0c1825; 
    color: white;
    width: 210px;
    border: none;
}

.create-btn:hover{
    background-color: rgb(22, 112, 230);
    cursor: pointer;
}

.sign-btn{
background-color: white;
color: #0c1825;
border: 1px solid #bbb
}

.sign-btn:hover{
border: 1px solid rgb(22, 112, 230);
}

.button-spec{
    
    height: 50px;
    border-radius: 10px;
    font-size: 16.5px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    /padding: 5px 15px 5px 15px; 
    white-space: nowrap;
    line-height: 27.2px;
    
}

.grid{
    display: grid;
}

.grid-half{
    grid-template-columns: 1fr 1fr;
}

 .container-1{
    margin: 80px 40px;
    position:relative;
    height: 700px;
    
    
} 

.content-left-1{
   max-width: 500px;
    width: 100%;
    height: 450px;
    margin-top: 60px;
    
}

.content-left-1 > h1{
    font-size: 65px;
   height: 100px;
    line-height: 82.42px;
   
    font-weight: 800;
}

.content-left-1 > p{
  padding: 20px 0px;
}
 .content-right-1{
   margin-left: 90px;
   position: relative;
   top: 30px;
}

 .image-2{
    position: absolute;
    left: 40px;
   
}

.image-1{
    position: absolute;
    top: 30px;
}

.card-1{
width: 215px;
height: 115px;
position: absolute;
top: 20%;
left: -10%;

}

.card-2{
    width: 215px;
    height: 115px;
    position: absolute;
    top: 60%;
    left: 45%;
}

.btn-get{
    margin: 25px 5px;
}

.pad-2{
  
}