body{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    line-height: 27.2px;
}

.nav-bar{
   display: flex;
   justify-content: space-between;
width: 100%;
  max-width:1165px;
    margin-left: 30px; 
   margin-top: 20px;
}

.down-20{
    margin-top: 13px;
}

ul, li{
    display: inline-block;
}

.nav-item:not(:last-child) {
    padding-right: 45px;
}

/* ul:first-child{
    padding-left: 0;
   
} */

li a{
  
    font-size: 16.5px;
    margin-left: 0;
    text-decoration: none;
    color: #0c1825;
    font-weight: 600;
}

.btn-bar{
  margin-left: auto;
}

.flex-50{
    flex: 50%;
}

.create-btn{
    background-color: #0c1825; 
    color: white;
}

.sign-btn{
background-color: white;
color: #0c1825;
border: 1px solid #bbb
}



.button-spec{
    width: ;
    height: 50px;
    border-radius: 10px;
    font-size: 16.5px;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    padding: 5px 15px 5px 15px;
}

.grid{
    display: grid;
}

.grid-half{
    grid-template-columns: 1fr 1fr;
}